<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5044</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <customFields>-->
<!--                {"service_name": "${spring.application.name}"}-->
<!--            </customFields>-->
<!--        </encoder>-->
<!--        <reconnectionDelay>10 seconds</reconnectionDelay>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="LOGSTASH" />-->
<!--    </root>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">

        <springProfile name="dev">
            <appender-ref ref="CONSOLE" />
        </springProfile>

<!--        <springProfile name="!dev">-->
<!--            <appender-ref ref="LOGSTASH" />-->
<!--        </springProfile>-->

    </root>


</configuration>